#openModalAdd {
    font-size: 25px;
    padding: 0px;
}

body, h5 {
    font-size: 12px;
    overflow-x: hidden;
} 

.col {
    justify-items: center;
}

.card {
    text-align: center;
}

.header {
    padding: 25px;
}

.fas {
    font-size: 25px;
}  

.fa-plus-circle {
    font-size: 5vw;
    border-radius: 25px;
    color: cyan;
    background: white;
    padding: 20px;
    margin: 1vw;
}

.fa-plus-circle:hover {
    color: white;
    background-color: cyan;
}

h5 {
    font-weight: bold;
}

body {
    font-family: sans-serif;
    color: white;
}

h1, h3 {
    filter: drop-shadow(2px 2px 2px #000000);
}

h3 {
    border-bottom: 2px solid #FFF;
    text-align: center;
}

#newTaskLabel {
    color: black;
    font-size: 30px;
}

.fa-trash:hover {
    color: red;
}

.fa-pencil-alt:hover {
    color: lime;
}

.row {
    justify-content: center;
    padding: 5px;
}

#errorMessage {
    color: red;
    font-size: 2vw;
}

#TODO {
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#INPROGRESS {
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f12711, #f5af19);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f12711, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

#REVIEW {
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00F260, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00F260, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

#DONE {
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

#TODO, #INPROGRESS, #REVIEW, #DONE {
    margin: 20px;
    padding: 30px;
    border-radius: 25px;
}